body{
    margin: 0;
    background-image: url(../img/fondoconsola.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: linear-gradient(to bottom right, #f3dcb2 15%, #fdc866);
    height: 70vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 2fr 2fr;
    border: outset #d00e21;
    border-width: 25px 10px;
}

/* Parte superior izquierda de la consola */

.leftup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-color: #E2E2E2;
    height: 45%;
    width: 40%;
    text-align: center;
    border: solid black 2px;
    border-radius: 8px;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 40px;
}


/* Parte inferior izquierda de la consola */

.leftdown{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 60%;
    height: 70%;
}

/* Parte central de la consola */

.pantalla{
    grid-area: 1/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#marco{
    height: 85%;
    width: 95%;
    background-color: #F4D395;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: outset #F8EFC1;
    border-width: 20px 10px 10px 20px;
    border-radius: 10px;
}

#supermario{
    font-size: 30px;
    padding: 5px;
}

#pantalla1{
    height: 73%;
    width: 94%;
    border: solid #d00e21 10px;
    border-radius: 15px;
}

#fondomario{
    height: 97%;
    width: 95.3%;
    border: solid black;
    border-width: 5px 12px 5px 12px;
}

#nintendo{
    padding: 2px;
    margin: 3px;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 40px;
    font-weight: bold;
}

/* Parte superior derecha de la consola minibotones */

#minibotones{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;    
}

.miniboton1{
    height: 10%;
    width: 30%;
    border-radius: 30px;
    border: solid #d00e21 5px;
}

.minigame{
    height: 93%;
    width: 97%;
    background-color: #ABA6AF;
    border-radius: 30px;
    border: solid black 1px;
}

.minigame:active{
    height: 90%;
    width: 95%;
    background-color: #767279;
    box-shadow: 1px 1px 1px 1px rgba(39, 38, 38, 0.545);
}

.miniletra{
    font-size: 15px;
    padding: 2px;
}


/* Parte inferior derecha de la consola botones*/

#botonesab{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60%;
    gap: 50px;
}

.botona{
    height: 45%;
    width: 25%;
    border-radius: 50%;
    border: solid #d00e21 10px;
}

.botona1{
    height: 98%;
    width: 98%;
    background-color: #ff3b5f;
    border-radius: 50%;
    border: solid black 1px;
}

.botona1:active{
    height: 95%;
    width: 95%;
    background-color: #bb324b;
    box-shadow: 1px 1px 1px 1px rgba(39, 38, 38, 0.806);
}

#letrasab{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-size: 20px;
}

.letrab{
    width: 50%;
    margin-top: 15px;

}

.letraa{
    width: 50%;
    margin-top: 15px;
}